.base-con-panel {
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    display: inline-block;
}

.converter-text {
    width: 90%;
    margin: 0 auto;
}

.converter-info {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.converter-mode {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.converter-button {
    text-align: center;
    width: 90%;
    margin: 0 auto;

}

button {
    width: 20%;
    border-radius: 12px;
}

.converter-textarea {
    display: inline-block;
    width: 42.5%;
}

.text-stub {
    display: inline-block;
    width: 5%;
}
