body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.styles {
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
}

.input {

    margin: 0 auto;
    width: 50%;
}

input[type=text] {
    font-size:22px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 13px;
}

input {
    text-align: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.three-rows {
    font-size: 20px;
    width: 80%;
    display: inline-block;

}

.records {
    padding-left: 25%;
    margin: 0 auto;
}

.rad{
    padding-right: 327px;
}

.orig{
    margin-top: 10px;
    font-weight: bold;
}

.value{
    font-weight: bold;
}

.wrong{
   color: red;
    text-decoration: line-through;
}

#outer {
    width: 100%;
    text-align: center;
}


#inner-l {
    text-align: left;
}


.stub{
   width: 15px;
    visibility: hidden;
}