table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.pagination-text {
    display: inline-block;
    text-align: center;
    width: 40%;
    color: #dddddd;
}

.pagination-button {
    display: inline-block;
    padding: 0;
    width: 30%;
    border-radius: 12px;
    font-size: 20px;
    background-color: #bbbbbb;
    color: #2b2b5b;
}

.pagination-card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 901px) {
    .pagination-text {
        font-size: 19px;
    }
}

@media (max-width: 900px) {
    .pagination-text {
        font-size: 15px;
    }
}