table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.pagination-text {
    display: inline-block;
    text-align: center;
    width: 40%;
}

.pagination-button {
    display: inline-block;
    width: 30%;
    border-radius: 12px;
}

.pagination-card {
    width: 80%;
    margin: 0 auto;
}