.record {
    display: flex;
    height: 25%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.record-info {
    width: 90%;
    height: 80%;
    background-color: #4b4b4b;
    border-radius: 12px;
}

.text-wrapper {
    width: 90%;
    height: 80%;
    color: white;
    display: flex;
    margin: 0 auto;
    align-items: center;
}