body {
    background-color: rgb(51, 51, 51);
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%
}

#root, #base {
    height: 100%;
}


.tab-block {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.title {
    background: white;
    font-size: 30px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-panel {
    height: 90%;
}