.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: #4b4b4b;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    padding: 2px;
    height: 90%;
}

.out-card {
    padding: 2px;
}