.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin: 0;
    background: white;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    border-width: 1px 1px 0 1px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(31, 31, 31);
    color: white;

}