.tab-list {
    padding-left: 0;
    background: #efeaea;
    height: 7%;
    margin: auto;
}

.tab-list-item {
    box-sizing: border-box;
    border-top: 2px solid #585858;
    border-right: 2px solid #585858;
    border-left: 2px solid #585858;
    display: inline-block;
    list-style: none;
    height: 100%;
    margin: auto;
    width: 33.3333%;
    text-align: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(151, 151, 151);
    color: #2b2b2b;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}


.tab-list-active {
    background-color: rgb(51, 45, 45);
    border-color: #241f1f;
    color: #dddddd;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}

.tab-text-wrapper {
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.tab-list-item a:link {
    color: #dddddd;
    background-color: transparent;
    text-decoration: none;
}

.tab-list-item a:visited {
    color: #dddddd;
    background-color: transparent;
    text-decoration: none;
}

.tab-list-item a:hover {
    color: #dddddd;
    background-color: transparent;
    text-decoration: none;
}

.tab-list-item a:active {
    color: #dddddd;
    background-color: transparent;
    text-decoration: none;
}

@media (min-width: 901px) {
    .tab-list-item {
        font-size: 24px;
    }

    .tab-list-active {
        font-size: 26px;
    }

}

@media (max-width: 900px) {
    .tab-list-item {
        font-size: 14px;
    }

    .tab-list-active {
        font-size: 15px;
    }

}