.tab-list {
    padding-left: 0;
    background: #efeaea;
    height: 7%;
    margin: auto;
}

.tab-list-item {
    box-sizing: border-box;
    border-top: 2px solid rgb(141, 141, 141);
    border-right: 2px solid rgb(141, 141, 141);
    border-left: 2px solid rgb(141, 141, 141);
    display: inline-block;
    list-style: none;
    height: 100%;
    margin: auto;
    width: 25%;
    text-align: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(151, 151, 151);
    color: #2b2b2b;
}


.tab-list-active {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: rgb(51, 45, 45);
    border-color: rgb(45, 39, 39);
    color: #dddddd;
}

.tab-text-wrapper {
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

@media (min-width: 901px) {
    .tab-list-item {
        font-size: 22px;
    }

    .tab-list-active {
        font-size: 24px;
    }

}

@media (max-width: 900px) {
    .tab-list-item {
        font-size: 12px;
    }

    .tab-list-active {
        font-size: 13px;
    }

}